body {
    background-color: #16091f;
    float: none;
    font-family: "inconsolata",sans-serif;
    font-style: normal;
    font-weight: 500;
}

div.title {
    position: absolute;
    right: 100px;
    top: 45%;
}

h1 {
    color: white;
    font-size: 50px;
    font-family: "balboa-plus-fill",sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
    text-align: right;
}

a {
    float: right;
    text-align: center;
    border-radius: 0;
    box-shadow: none;
    text-decoration: none;
    clear: both;
    margin: 5px 0px;
}

a.primary {
    background-color: #e23d48;
    color: white;
    padding: 13px 30px 13px 30px;
    width: 150px;
    clear: both;
    margin: 5px 0px;
    transition: width 500ms;
}

a.secondary {
    color: #e23d48;
    font-weight: 600;
}

a.secondary::before {
    content: '< ';
    margin: 0;
    transition: margin 500ms;
}

a.secondary::after {
    content: ' >';
    margin: 0;
    transition: margin 500ms;
}

a.secondary:hover::before {
  margin-right: 10px;
  transition: margin 500ms;
}
a.secondary:hover::after {
  margin-left: 10px;
  transition: margin 500ms;
}

a.primary:hover {
    width: 180px;
    transition: width 500ms;
}


@media only screen and (max-width: 768px) {
     /*For mobile phones: */
    div.title {
        right: 50px;
    }
}
