body {
  background-color: #92afa9;
  font-family: "inconsolata",sans-serif;
    font-style: normal;
    font-weight: 500;
  color: white;
}
h1 {
    color: white;
    font-size: 50px;
    font-family: "balboa-plus-fill",sans-serif;
    font-style: normal;
    font-weight: 400;
    margin-bottom: 10px;
}
.container {
  width: 90%;
  max-width: 960px;
  display: block;
  clear: both;
  margin: auto;
}

a {
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  transition: margin 500ms color 200ms;
  margin: 5px 0;
  display: block;
  clear: both;
  color: #fff;
}

a.secondary {
  color: #fff;
  font-weight: 600;
  margin: 0;
}
a.secondary span {
  margin-top: 7px;
  display: block;
  clear: both;
}
a.secondary span::before {
  content: '< ';
  margin-right: 0;
  transition: margin 500ms;
}

a.secondary span::after {
  content: ' >';
  margin-left: 0;
  transition: margin 500ms;
}
a:hover span::before {
  margin-right: 10px;
  transition: margin 500ms;
}
a:hover span::after {
  margin-left: 10px;
  transition: margin 500ms;
}