body {
  background-color: #2d2d2e;
  font-family: "inconsolata",sans-serif;
  font-style: normal;
  font-weight: 500;
  color: white;
}
canvas {
  display: block;
  clear: both;
  margin: auto;
}
h1 {
  color: white;
  font-size: 50px;
  font-family: "balboa-plus-fill",sans-serif;
  font-style: normal;
  font-weight: 400;
  margin-bottom: 10px;
}

.container {
  width: 90%;
  max-width: 960px;
  display: block;
  clear: both;
  margin: auto;
}

img.website {
  display: block;
  max-width: 90%;
  margin: auto;
  height: auto;
  width: 90%;
  clear: both;
  align-content: center;
}

@media only screen and (min-width: 730px) {
.col-desktop-3 {
  width: 33.333333333%;
  max-width: 33.333333333%;
  display: block;
  margin: auto;
  float: left;
}
  .border {
    padding: 0;
    border: none;
  }
}
@media only screen and (max-width: 730px) {
  img.website {
    width: 100%;
    max-width: 100%;
  }
  a {
    padding-bottom: 20px;
  }
}
a {
  text-align: center;
  border-radius: 0;
  box-shadow: none;
  text-decoration: none;
  transition: margin 500ms color 200ms;
  margin: 5px 0;
  display: block;
  clear: both;
}

a.secondary {
  color: #fff;
  font-weight: 600;
  margin: 0;
}
a.secondary span {
  margin-top: 7px;
  display: block;
  clear: both;
}
a.secondary span::before {
  content: '< ';
  margin-right: 0;
  transition: margin 500ms;
}

a.secondary span::after {
  content: ' >';
  margin-left: 0;
  transition: margin 500ms;
}
a:hover {
  transition: color 200ms;
}
a.stone:hover {
  color: #00af40;
}
a.finder:hover {
  color: #007969;
}
a.sapporo:hover {
  color: #faa338;
}
a.home:hover {
  color: #e23d48;
}
a:hover span::before {
  margin-right: 10px;
  transition: margin 500ms;
}
a:hover span::after {
  margin-left: 10px;
  transition: margin 500ms;
}

a.primary {
    background-color: #e23d48;
    color: white;
    padding: 13px 30px 13px 30px;
    width: 150px;
    clear: both;
    margin: 5px 0;
    transition: width 500ms;
}
a.primary:hover {
    width: 180px;
    transition: width 500ms;
}
.border {
  display: block;
  overflow:auto;
  padding: 1.5% 0;
  border: 1.5px solid #fff;
}
@media only screen and (max-width: 730px) {
  .border {
    padding: 0;
    border: none;
  }
}
h2 {
  margin-bottom: 10px;
}